<%provide(:title, "Help") %>
<h1>Help</h1>
<p>
You are tasked with creating a library web application.</p>
<p>
For simplicity, we will assume the following:</p>
<p>
● There is only one copy of each book in the system</p>
<p>
● The system does not keep track of whether the user borrowed or returned the book by 

going to the library. So, once a book is checked out using our system, it immediately 

becomes available to the library member. Similarly, once a book is returned, it 

immediately becomes available in the library.</p>
<p>
There will be two types of users in the system:</p>
<p>
● Admin</p>
<p>
● Library member
</p>